.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="text"], select {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.btn i {
    transition: color 0.3s ease-in-out;
}

/* Efeito de hover */
.btn:hover i {
    color: white;
}

.action-buttons {
    display: flex;
    align-items: center;
}

.action-buttons .btn {
    margin-right: 5px; 
}

footer {
    position:static;
    bottom: 0;
    width: 100%;
}